*{
    margin: 0;
    padding: 0;
}
body{
    /*text selection ban*/
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;     

    background-color: #FDFDFF;

    font-family: Gilroy,sans-serif;
    color: rgb(44, 44, 44);
}
/*Content*/
#content{
    display: flex;
    flex-direction: column;
}
#how-it-works{
    display: flex;
    flex-direction: column; /*направление элементов*//*колонка*/
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
#how-it-works h1{
    padding-bottom: 30px;
    padding-left: 50px;
}
.instruction{
    margin-bottom: 80px;
    display: flex;/*"гибкий", делаем конструктор из маленьких элементов, обьединияем маенькие элементы в большой элемент*/
    flex-direction: row;/*направление элементов строка*/
    justify-content: space-between;/*расположение флекс элемента*//*строка*/
    width: 100%;
}
.instruction-text{
    margin-left: 90px;
    margin-top: 50px;

    color: #333640;

    font-size: 1rem;/*толщина букв*/
    font-weight: 500;/*ширина букв*/
    letter-spacing: 0;
    line-height: 1.375rem;/*высота строки, что бы между строками был какой то промежуток*/
}
.instruction-number-circle{
    margin-top: 10px;
    margin-left: 25px;
    padding: 10px;
}
.instruction-number{
    background: #ffe0de;
    border-radius: 100%;/*скругление краев*/
    color: #ff6960;
    font-size: 1.5625rem;/*толщина букв*/
    font-weight: 600;/*ширина букв*/
    
    padding: 10px 20px;
}
.instruction h2{
    margin: 32px 0;
}
.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
    float: right;
}

.part-screenshot{
    height: 600px;
    width: 600px;

    border-radius: 5%;
}

.part-screenshot.purple{
    background-color: #F1ECFE;
    float: right;
}

.part-screenshot-inside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

    width: 450px;
    height: 450px;
    
    margin: 75px auto;

    border-radius: 5%;/*скругление краев*/
}

.part-screenshot-inside h3{
    text-align: center;
    margin: 32px 0;
}
#part-screenshot-inside-item_2 {
    display: flex;
    flex-direction: row;

    margin: 25px 20px;

    justify-content: space-between;
}

#sum-box {
    border-style: solid;/*стиль обводки*/
    border-color: rgb(208, 216, 223);/*цвет обводки*/
    border-radius: 0.75rem;/*скругление краев*/
    border-width: 1px;/*ширина обводки*/

    padding: 10px;
    padding-right: 100px;

    margin-top: 5px;
}

#val-box {
    border-style: solid;/*стиль обводки*/
    border-color: rgb(208, 216, 223);/*цвет обводки*/
    border-radius: 0.75rem;/*скругление краев*/
    border-width: 1px;/*ширина обводки*/

    padding: 10px;
    padding-right: 100px;

    margin-top: 5px;
}

#part-screenshot-inside-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #67568C;
    color: white;

    padding: 10px 15px;

    border-bottom-left-radius: 1.5rem;/*скругление ниж лев края*/
    border-bottom-right-radius: 1.5rem;/*скругление ниж прав края*/
}
.step{
   align-self: center;
}
.arrow{
    padding: 15px 20px;

    border-radius: 100%;/*скругление до формы круга*/
}
.arrow.purple{
    background-color: #50426C;
}
.arrow.red{
    background-color: #FF6960;
}

#screenshot-item1{
    background-color: #F3F6F9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 0.5rem;/*скругление краев*/
    margin: 0 20px;
    padding: 20px;
}

#screenshot-item1 span{
    margin: 10px 0;
}

#toggle{
    width: 50px;
    height: 80%;

    margin-top: 5px;
    background-color: #67568C;

    border-radius: 39% 39% 39% 39%/65% 65% 65% 65%;
}

#toggle-circle{
    background-color: white;
    border-radius: 100%;/*скругление до формы круга*/

    height: 75%;
    width: 50%;

    margin-top: 4px;
    margin-left: 5px;
}
/*Instrucion2*/
.part-screenshot.pink{
    background-color: #FFEFF3;
    float: left;
}
#screen-name{
    text-align: center;
    margin-top: 30px;

    font-size: 1.125rem;/*толщина и размер букв*/
    color: #333640;
    font-weight: bold;
}
#screen-hello-santa{
    text-align: center;
    margin-bottom: 130px;

    line-height: 2rem;/*высота строки, что бы между строками был какой то промежуток*/
    font-size: 1.4375rem;/*толщина и размер шрифта*/
    font-weight: 500;/*ширина букв*/
    color: #333640;
}
/*Instruction3*/
.part-screenshot.blue{
    background-color: #E7F5FF;
    float: right;
    text-align: center;
}
#secret-santa{
    font-size: 2rem;/*толщина и размер шрифта*/
    color: #333640;

    margin-top: 10px;
}
#secret-santa span{
    color: rgb(247, 68, 68);
}
#text-item{
    color: #333640;
    font-size: 1rem;
    line-height: 1.375rem;
}
#button-item{
    border: 1.5px solid rgba(235, 241, 246, .92);/*размер стиль цвет обводки*/
    border-radius: 6rem;/*скругление краев*/
    width: 150px;
    padding: 15px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
